    <!-- <form 
      class="form-inline my-2 my-lg-0" 
      action="http://zachgreen.codes:8081/upload" 
      method="post" 
      enctype="multipart/form-data"
    >
      <input class="form-control mr-sm-2" type="file" name="song" placeholder="Upload" aria-label="Upload" multiple>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
    </form> -->
    <!-- <ul>
      <li *ngFor="let song of songs">
        <p>{{ song.title}}</p>
        <audio src="http://zachgreen.codes:8081/song/{{ song.path }}" controls></audio>
      </li>
    </ul> -->

<div class="flex bg-black">
    <app-aside></app-aside>
  
  <router-outlet></router-outlet>
</div>
