<p>home works!</p>

<div id="home" class="col-sm-auto">

  <p>Recently Played Artists</p>
  <div class="row">
    <div class="col">
      <img src="https://via.placeholder.com/300x300.webp?text=ZachGreen::Plays" alt="">
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/300x300.webp?text=ZachGreen::Plays" alt="">
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/300x300.webp?text=ZachGreen::Plays" alt="">
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/300x300.webp?text=ZachGreen::Plays" alt="">
    </div>
  </div>
  
  <div class="row">
    <div class="col">
      <img src="https://via.placeholder.com/300x300.webp?text=ZachGreen::Plays" alt="">
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/300x300.webp?text=ZachGreen::Plays" alt="">
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/300x300.webp?text=ZachGreen::Plays" alt="">
    </div>
    <div class="col">
      <img src="https://via.placeholder.com/300x300.webp?text=ZachGreen::Plays" alt="">
    </div>
  </div>

</div>
